body{
    background-color: blue;
    margin-top: 8%;
    margin-left: 45%;
}
#container{
    height: 130px;
    width: 200px;
    margin-top: 50px;
    background-color: black;
    text-align: center;
}
.gray{
    color: aliceblue;
    background-color: gray;
    border-radius: 60px;
    border-color: transparent;
}
.orange{
    color: aliceblue;
    background-color: orange;
    border-radius: 60px;
    border-color: transparent;
}
